/* menu button styling */
.menu_btn{
color: #000;
font-size: 22px;
font-weight: 100;
cursor: pointer;
display: none;
}

/* responsive media query */
@media (max-width:990px) {
    .max_width{
        max-width: 1300px;
        padding: 0% 48px;
        margin: auto;
    }
    .nav_bar .menu{
        position: fixed;
        height: 100vh;
        left: 0%;
        top: 0%;
        width: 100%;
        color: black; 
        font-size: 20px;
        font-weight: 500; 
        padding-top: 40px;            
      
      }
      .nav_bar .menu li{
          display: block;
          text-align: center;
      }
      .nav_bar .menu li a{
          display: inline-block;
          margin: 8px 0%;
      }
      .menu_btn{
          display: block;
      }
}

      .About .About_content .right .text1{
         font-size: 20px;
         font-weight: 200;
         margin-bottom: 10px;
         text-align: justify;
}

       .My_Projects{
           background: linear-gradient(rgb(94, 165, 94),grey);
       }

       .My_Projects_Content{
           display: flex
       }

        .My_Projects h2{
           align-items: center;

       }
      
       .My_Projects_Content img{
        width: 700px;   
        height: 700px;
        padding: 3% 3%;
        margin-right: -22.5%;
      
        
    }

       .My_Projects_Content h2{
           align-content: center;
       }

      