@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=ubuntu:wght@400;500;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

/* navbar styling */
.nav_bar{
    position: fixed;
    width: 100%;
    background: crimson;
    font-family: "ubuntu",sans-serif;

}

.nav_bar .logo{
    color: #000;
}

.nav_bar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;   

}

.nav_bar li{
    list-style: none;
    display: inline-block;
}
.nav_bar .max_width{
 display: flex;
 align-items: center;   
}

.nav_bar .menu li a{
  color: black;  
}