@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=ubuntu:wght@400;500;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

section{
    padding: 108px 0;
}

/* navbar styling */
.nav_bar{
    position: fixed;
    width: 100%;
    background: plum;
    font-family: "ubuntu",sans-serif;

}

.max_width{
    max-width: 1300px;
    padding: 0%80px;
    margin: auto;
}

.nav_bar .logo{
    color: #000;
}

.nav_bar .logo span{
    color: crimson;
}

.nav_bar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;   

}

.nav_bar .logo a:hover{
    color: crimson;
;
}

.nav_bar li{
    list-style: none;
    display: inline-block;
}

.max_width{

    max-width: 1200px;
    padding: 0% 80px;
    margin: auto;
}
.nav_bar .max_width{
 display: flex;
 align-items: center;  
 justify-content: space-between; 
}

.nav_bar .menu li a{
  color: black; 
  font-size: 20px;
  font-weight: 500; 
  margin-left: 24px;

}

.nav_bar .menu li a:hover{
    color: crimson;
    transition: color 0.3s ease;

}

/* styling home section */
.home{
  display: flex;
  background: url("bc.jpeg") no-repeat center; 
  height: 100vh; 
  color: #000;
  min-height: 500px;
  font-family: 'ubuntu',sans-serif;
  

}

.home .max_width{
    margin: auto 0% auto 0%;
}
  

.home .home_content .home_text{
    font-size: 28px;
    font-weight: 900;
 
}

.home .home_content .home_text span{
  color: crimson; 
  font-weight: 500; 
}

/* About Section Styling */
.About{
    font-family: "Poppins",sans-serif;
    
}

.About h2{
    font-family: "ubuntu";
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-bottom: 20px;
   }

   .About .About_content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
   
    
}     
